//    for(Index = 0; Index < 16; Index += 1)
//    {        
//        Bit = (Word_To_Transmit >> Index) & 0x01; // Get each bit from LSB to MSB
//        
//        ATT_CLK_SetHigh();
//      
//        // If bit to transmit is high, set SDO pin high, else set it low
//        if(Bit == 1)
//        {
//            ATT_SDO_SetHigh();
//        }
//        else if (Bit == 0)
//        {
//            ATT_SDO_SetLow();
//        }
//        
//        // Set CLK pin high 
//        ATT_CLK_SetHigh();
//        
//        // And wait for timer interrupt
//         while(TMR0_Flag == 0)
//        {
//            // Wait...
//        }
//        
//        // Then set CLK pin low
//        ATT_CLK_SetLow(); 
//        
//        // Reset interrupt flag
//        TMR0_Flag = 0;
//    }
    
//    while(T0CON0bits.OUT == 1)
//    {
//        //...
//    }
//    
//    ATT_CLK_SetLow();
//    for(Index = 0; Index < 16; Index += 1)
//    {        
//        Bit = (Word_To_Transmit >> Index) & 0x01; // Obtener cada bit desde el LSB al MSB
//      
//        // Configurar el pin SDO según el bit a transmitir
//        if(Bit == 1)
//        {
//            ATT_SDO_SetHigh();
//        }
//        else
//        {
//            ATT_SDO_SetLow();
//        }
//        
//        // Esperar el tiempo necesario antes de cambiar el clock a alto
//        while(TMR0_Flag == 0)
//        {
//            // Esperar a que ocurra la interrupción del temporizador
//        }
//        
//        // Cambiar el clock a alto
//        ATT_CLK_SetHigh();
//        
//        // Esperar a que ocurra la interrupción del temporizador
//        TMR0_Flag = 0; // Resetear la bandera
//        while(TMR0_Flag == 0)
//        {
//            // Esperar a que ocurra la interrupción del temporizador
//        }
//        
//        // Cambiar el clock a bajo
//        ATT_CLK_SetLow(); 
//        
//        // Resetear la bandera del temporizador
//        TMR0_Flag = 0;
//    }